<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        
        <!-- v-show做条件渲染，如果为true使用display:none隐藏 -->
        <h1 v-show="true">Hello {{name}}!</h1>
        <h1 v-show="1===1">Hello {{name}}!</h1>
        <h1 v-show="a">Hello {{name}}!</h1>
        
        <!-- v-if做条件渲染,增删DOM中的元素 -->
        <h1 v-if="false">Hello {{name}}!</h1>
        <h1 v-if="n===1">Hello {{name}}!</h1>
        <h1 v-else-if="n===2">Hello {{name}}!</h1>
        <h1 v-else-if="n===3">Hello {{name}}!</h1>
        <h1 v-else>Hello {{name}}!</h1>

        <h2>当前的值为:{{n}}</h2>
        <br>
        <button @click="n++">点我加1</button>
        <h2 v-show="n===1">Angular</h2>
        <h2 v-show="n===2">React</h2>
        <h2 v-show="n===3">Vue</h2>

        <!-- v-if和template配合使用,template不会影响结构，但是不能配合v-show使用 -->
        <template v-if="n===1">
            <h2>1</h2>
            <h2>2</h2>
            <h2>3</h2>
        </template>
    </div>

    <script>
        Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示。有时候没有用

        // 创建Vue实例
        new Vue({
            el:'#root',//el用于指定当前Vue实例为哪个容器服务，值通常为css选择器字符值
            data:{
                name:'world',
                a : false,
                n:1
            }
        });
    </script>
</body>
</html>