<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>1、基本列表</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <ul>
            
            <!-- 简单演示 -->
            <li v-for="p in persons">
                {{p.name}}-{{p.age}}
            </li>
            <br>

            <!-- 遍历数组：实际开发必须加上key且必须唯一,v-for in 和 of 都是可以的 -->
            <li v-for="(p,index) of persons" :key="index">
                {{p.name}}-{{p.age}}
            </li>
            <br>

            <!-- 遍历对象-->
            <li v-for="(value,key) in car" :key="key">
                {{value}}-{{key}}
            </li>
            <br>

            <!-- 遍历字符串（用的少） -->
            <li v-for="(char,key) in str" :key="key">
                {{char}}-{{key}}
            </li>
            <br>

            <!-- 遍历指定次数（用的少） -->
            <li v-for="(number,index) in 5" :key="index">
                {{number}}-{{index}}
            </li>
        </ul>
    </div>

    <script>
        Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示。有时候没有用

        // 创建Vue实例
        new Vue({
            el: '#root',//el用于指定当前Vue实例为哪个容器服务，值通常为css选择器字符值
            data: {
                persons: [
                    { id: '001', name: "张三", age: 18 },
                    { id: '002', name: "李四", age: 19 },
                    { id: '003', name: "王五", age: 20 }
                ],
                car: {
                    name: "奥迪A8",
                    price: "70万",
                    color: "黑色"
                },
                str:"hello"
            }
        });
    </script>
</body>

</html>