<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>4、姓名案例_计算语法简写</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <input type="text" v-model="firstName"><br><br>
        <input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName}}</span>
    </div>

    <script>
        Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示。有时候没有用

        // 创建Vue实例
        const vm = new Vue({
            el: '#root',//el用于指定当前Vue实例为哪个容器服务，值通常为css选择器字符值
            data: {
                firstName: '张',
                lastName: "三"
            },
            computed: {
                // fullName:{
                //     get(){
                //         return this.firstName+"-"+this.lastName;
                //     },
                //     set(value){
                //         const values = value.split("-");
                //         this.firstName = values[0];
                //         this.lastName = values[1];
                //     }
                // }

                //在没有用到set的情况可以简写
                fullName() {
                    return this.firstName + "-" + this.lastName;
                }
            }
        });
    </script>
</body>

</html>